<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://via.placeholder.com/1280x960" alt="Product image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">2018 Chrysler Town & Country</p>
        <p class="subtitle is-6">
          <!-- Basic Attributes -->
          <% if (typeof(data.mileage) === "number" && data.mileage > 0) { %>
            <span><%= (Math.round(Number(data.mileage) / 100) * 100).toLocaleString()  %>mi</span>
          <% } %>
          <% if (typeof(data.epa) === "object" && typeof(data.epa.City) === "number" && typeof(data.epa.Highway) === "number") { %>
            &middot;
            <span>EPA <%= data.epa.City %> / <%= data.epa.Highway %>mpg</span>
          <% } %>

          <!-- Feature Tags -->
          <% if (data.owners && data.owners === 1) { %>
            &middot;
            <span class="tag is-success">1 OWNER</span>
          <% } else if (typeof(data.mileage) === "number" && data.mileage <= 20000) { %>
            &middot;
            <span class="tag is-info">LOW MILES</span>
          <% } else if (typeof(data.epa) === "object" && typeof(data.epa.City) === "number" && typeof(data.epa.Highway) === "number" && (data.epa.City >= 35 || data.epa.Highway >= 35)) { %>
            &middot;
            <span class="tag is-primary">Fuel Efficient</span>
          <% } %>
        </p>
      </div>
    </div>    
  </div>
  <div class="content">
    <!-- Pricing Table -->
    <% if (context.page !== "listing" && typeof(data.msrp) === "number" && typeof(data.price) === "number") { %>
      <div class="px-3 has-text-centered">
        <table class="table is-bordered">
          <thead>
            <tr>
              <th><b>Factory MSRP</b></th>
              <th><b>Our Price</b></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= data.msrp.toLocaleString('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 0}) %></td>
              <td><%= data.price.toLocaleString('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 0}) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    <% } %>
  </div>

  <footer class="card-footer">
    <a href="#" class="card-footer-item">View More Details</a>
    <a href="#" class="card-footer-item">Share</a>
  </footer>  
</div>
