<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>Search Results - <%= config.app_name %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <!-- Navigation -->
    <%- include('partials/navigation', config) %>

    <div class="columns p-0 m-0">
      <!-- Sidebar -->
      <div class="column is-2 has-background-light">
        <%- include('partials/sidebar', {}) %>
      </div>

      <!-- Search Results -->
      <div class="column is-10 p-4">
        <!-- Listing Header -->
        <section class="hero is-info">
          <div class="hero-body">
            <p class="title">
              <%= config.app_name %>
            </p>
            <p class="subtitle">
              Current Vehicle Inventory &middot; <em>2014 or Newer Vans</em>
            </p>
          </div>
        </section>

        <!-- Search Configurator -->
        <div class="columns p-0 m-0 py-3 is-vcentered">
          <div class="column is-3 p-0">
            <p>23 results</p>
          </div>
          <div class="column p-0">
            <div class="field is-horizontal is-pulled-right">
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded">
                    <div class="select is-fullwidth">
                      <select>
                        <option selected disabled>Filter</option>
                        <option>All</option>
                        <option>Available</option>
                        <option>Sold</option>
                      </select>
                    </div>
                  </p>
                </div>
                <div class="field">
                  <p class="control is-expanded">
                    <div class="select is-fullwidth">
                      <select>
                        <option selected disabled>Sort By</option>
                        <option>Model Year</option>
                        <option>Make</option>
                        <option>Model</option>
                        <option>Mileage</option>
                        <option>Price</option>
                      </select>
                    </div>
                  </p>
                </div>
                <div class="field has-addons">
                  <p class="control">
                    <button class="button" title="Card View" disabled>
                      <span class="icon is-small">
                        <i class="fas fa-border-all"></i>
                      </span>
                      <span>Card</span>
                    </button>
                  </p>
                  <p class="control">
                    <button class="button" title="List View">
                      <span class="icon is-small">
                        <i class="fas fa-list"></i>
                      </span>
                      <span>List</span>
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Search Results -->
        <div class="columns is-multiline">
          <% for (let i = 0; i < 7; i++) { %>
            <div class="column is-4">
              <%- include('partials/item', {
                "context": {
                  page: "index",
                },
                "data": {
                  price: 0,
                  owners: i+1,
                  epa: "22/17mpg",
                  mileage: Math.floor(Math.random() * 100000)
                },
              }) %>
            </div>
          <% } %>
        </div>

        <!-- Search Pagination -->
        <nav class="pagination" role="navigation" aria-label="pagination">
          <a class="pagination-previous is-disabled" title="This is the first page">Previous</a>
          <a class="pagination-next">Next page</a>
          <ul class="pagination-list">
            <li>
              <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
            </li>
            <li>
              <a class="pagination-link" aria-label="Goto page 2">2</a>
            </li>
            <li>
              <a class="pagination-link" aria-label="Goto page 3">3</a>
            </li>
          </ul>
        </nav>  
      </div>    
    </div>

    <!-- Footer -->
    <%- include('partials/footer', config) %>
  </body>
</html>
