<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>2019 BMW M550i - <%= config.app_name %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <!-- Navigation -->
    <%- include('partials/navigation', config) %>

    <!-- Breadcrumbs -->
    <nav class="breadcrumb has-bullet-separator p-5 has-background-light" aria-label="breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Search Results</a></li>
        <li class="is-active"><a href="#" aria-current="page">2019 BMW M550i</a></li>
      </ul>
    </nav>

    <!-- Vehicle Information Container -->
    <div class='container'>
      <!-- Page Header -->
      <div class="columns">
        <!-- Title -->
        <div class="column">
          <h1 class="title is-1">2019 BMW M550i xDrive</h1>
          <div class="subtitle tags">
            <span class="tag">$54,950</span>
            <span class="tag">13,000mi</span>
            <span class="tag">Black Sapphire Metalic</span>
          </div>
        </div>

        <!-- Controls -->
        <div class="column"></div>
      </div>

      <div class="columns">
        <!-- Image Columns -->
        <div class="column">
          <!-- Main Preview -->
          <figure class="image is-4by3 has-shadow-1">
            <img src="https://via.placeholder.com/1280x960" alt="Product image" />
          </figure>

          <!-- Other Images -->
          <div class="is-flex mt-1">
            <figure class="image is-96x96 mr-1 has-radius-6">
              <img src="https://via.placeholder.com/256x256" alt="Product image1" />
            </figure>
            <figure class="image is-96x96 mr-1 has-radius-6">
              <img src="https://via.placeholder.com/256x256" alt="Product image2" />
            </figure>
            <figure class="image is-96x96 mr-1 has-radius-6">
              <img src="https://via.placeholder.com/256x256" alt="Product image3" />
            </figure>
            <figure class="image is-96x96 mr-1 has-radius-6">
              <img src="https://via.placeholder.com/256x256" alt="Product image4" />
            </figure>
            <figure class="image is-96x96 mr-1 has-radius-6">
              <img src="https://via.placeholder.com/256x256" alt="Product image5" />
            </figure>
            <figure class="image is-96x96 mr-1 has-radius-6">
              <img src="https://via.placeholder.com/256x256" alt="Product image6" />
            </figure>
          </div>
        </div>

        <!-- Content Column -->
        <div class="column">
          <div class="content">
            <h1>First Heading</h1>
            <p>Lorem ipsum<sup><a>[1]</a></sup> dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque. Sub<sub>script</sub> works as well!</p>
            <h2>Second Heading</h2>
            <p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
            <ul>
              <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
              <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
              <li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
              <li>Ut non enim metus.</li>
            </ul>
            <h2>Second Heading</h2>
            <p>Nulla efficitur eleifend nisi, sit amet bibendum sapien fringilla ac. Mauris euismod metus a tellus laoreet, at elementum ex efficitur.</p>
            <p>Maecenas eleifend sollicitudin dui, faucibus sollicitudin augue cursus non. Ut finibus eleifend arcu ut vehicula. Mauris eu est maximus est porta condimentum in eu justo. Nulla id iaculis sapien.</p>

            <!-- Vehicle Properties -->
            <%- include("partials/listTable", {
              data: {
                StockNum: 3985,
                VIN: faker.vehicle.vin(),
                ExtColor: ["Black Sapphire Metalic", "#08070d"],
                IntColor: ["Red Dakota Leather", "#8b1c24"],
                Odometer: 19500,
                EPA: {
                  City: 22,
                  Highway: 27
                },
              },
            }) %>

            <p>Phasellus porttitor enim id metus volutpat ultricies. Ut nisi nunc, blandit sed dapibus at, vestibulum in felis. Etiam iaculis lorem ac nibh bibendum rhoncus.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Vehicle Recommendations -->
    <% if (true === true) { %>
      <section class="hero is-light mt-5">
        <div class="hero-body">
          <p class="title">Similar Vehicles</p>
          <p class="subtitle">You may also be interested in these vehicles</p>
        </div>
      </section>
      <div class='container py-5'>
        <div class="columns p-3">
          <% for (let i = 0; i < 3; i++) { %>
            <div class="column is-4">
              <%- include('partials/item', {
                "context": {
                  "page": "listing",
                },
                "data": {
                  sold: i == 2 ? true : false,
                  model_year: Math.floor(Math.random() * (2022 - 2017) + 2016),
                  make: "",
                  model: faker.vehicle.vehicle(),
                  link: "/vehicles/" + i,
                  price: parseInt(faker.commerce.price(15000, 45000, 0, "")),
                  msrp: parseInt(faker.commerce.price(16000, 50000, 0, "")),
                  owners: Math.floor(Math.random() * 3) + 1,
                  epa: {
                    "City": 26,
                    "Highway": 32
                  },
                  Odometer: Math.floor(Math.random() * 25000)
                },
              }) %>
            </div>
          <% } %>
        </div>
      </div>
    <% } %>

    <!-- Footer -->
    <%- include('partials/footer', config) %>
  </body>
</html>
