<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Search Results - <%= env.COMPANY_NAME %></title>
    <meta charset="utf-8" />
    <meta name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.0' />
    <meta property="og:title" content="Search Results" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= env.APPLICATION_URL %>" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <!-- Navigation -->
    <%- include('partials/navigation', {env: env}) %>

    <div class="columns p-0 m-0">
      <!-- Sidebar -->
      <div class="column is-2 has-background-light">
        <%- include('partials/searchSidebar', {env: env}) %>
      </div>

      <!-- Search Results -->
      <div class="column is-10 p-4">
        <!-- Listing Header -->
        <section class="hero is-link is-hidden-mobile">
          <div class="hero-body">
            <p class="title">
              <%= env.COMPANY_NAME %>
            </p>
            <p class="subtitle">
              Current Vehicle Inventory
              <% if (typeof(context.query) === "string") { %>
                &middot; <em><%= context.query %></em>
              <% } %>
            </p>
          </div>
        </section>

        <!-- Search Configurator -->
        <div class="columns p-0 m-0 py-3 is-vcentered">
          <div class="column is-6 p-0">
            <nav class="level">
              <div class="level-left">
                <div class="level-item">
                  <p class="subtitle is-7">
                    <strong>Search Filters</strong>
                  </p>
                </div>
                <div class="level-item">
                  <div class="tags has-addons">
                    <span class="tag">Year (2019+)</span>
                    <a class="tag is-delete"></a>
                  </div>
                </div>
                <div class="level-item">
                  <div class="tags has-addons">
                    <span class="tag">Make (BMW)</span>
                    <a class="tag is-delete"></a>
                  </div>
                </div>
                <div class="level-item">
                  <div class="tags has-addons">
                    <span class="tag">Transmission (A/T)</span>
                    <a class="tag is-delete"></a>
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <div class="column p-0">
            <div class="field is-horizontal is-pulled-right">
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded">
                    <div class="select is-fullwidth">
                      <select>
                        <option selected disabled>Filter</option>
                        <option>All</option>
                        <option>Available</option>
                        <option>Sold</option>
                      </select>
                    </div>
                  </p>
                </div>
                <div class="field">
                  <p class="control is-expanded">
                    <div class="select is-fullwidth">
                      <select>
                        <option selected disabled>Sort By</option>
                        <option>Model Year</option>
                        <option>Make</option>
                        <option>Mileage</option>
                        <option>Price</option>
                      </select>
                    </div>
                  </p>
                </div>
                <div class="field has-addons">
                  <p class="control">
                    <button class="button" title="Card View" disabled>
                      <span class="icon is-small">
                        <i class="fas fa-border-all"></i>
                      </span>
                      <span>Card</span>
                    </button>
                  </p>
                  <p class="control">
                    <button class="button" title="List View">
                      <span class="icon is-small">
                        <i class="fas fa-list"></i>
                      </span>
                      <span>List</span>
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Search Results -->
        <% if (typeof(inventory) === "object" && inventory instanceof Array && inventory.length > 0) { %>
          <div class="columns is-multiline">
            <% const limit = inventory.length > env.SEARCH_PAGINATION ? env.SEARCH_PAGINATION : inventory.length; %>
            <% for (let i = 0; i < limit; i++) { %>
              <div class="column is-4">
                <%- include('partials/searchCard', {
                  env: env,
                  context: {
                    page: "index",
                  },
                  vehicle: inventory[i],
                }) %>
              </div>
            <% } %>
          </div>
        <% } else { %>
          <h2>Oops... No search results to display</h2>
        <% } %>

        <!-- Search Pagination -->
        <% if (typeof(inventory) === "object" && inventory instanceof Array && inventory.length > env.SEARCH_PAGINATION) { %>
          <nav class="pagination" role="navigation" aria-label="pagination">
            <a class="pagination-previous is-disabled" title="This is the first page">Previous</a>
            <a class="pagination-next">Next page</a>
            <ul class="pagination-list">
              <li>
                <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
              </li>

              <% const paginationCount = Math.ceil(inventory.length / env.SEARCH_PAGINATION); %>
              <% for (let i = 1; i < paginationCount; i++) { %>
                <li>
                  <a class="pagination-link" aria-label="Goto page <%= i+1 %>"><%= i+1 %></a>
                </li>
              <% } %>
            </ul>
          </nav>
        <% } %>
      </div>
    </div>

    <!-- Footer -->
    <%- include('partials/footer', {env: env}) %>

    <!-- Scripts -->
    <script src="/js/index.js"></script>
    <script src="/js/navigation.js"></script>
  </body>
</html>
